{% extends 'base.html' %}

{% block title %}Home - SophieBoca{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('pets.static', filename='css/PetsStyles.css') }}">
    <script src="{{ url_for('pets.static', filename='js/PetsScripts.js') }}"></script>
   <section class="adoption-section">
        <div class="adoption-container">

            <!-- Filter Bar -->
            <div class="filter-bar">
                <div class="filter-buttons-group">
                    <button class="filter-btn toggle-btn">
                        <i class="fa fa-sliders-h"></i>
                    </button>
                    <button class="filter-btn filter-option">Breed</button>
                    <button class="filter-btn filter-option">Gender</button>
                    <button class="filter-btn filter-option">Size</button>
                    <button class="filter-btn filter-option">Age</button>
                </div>
                <button class="filter-btn search-by-photo-btn" id="search-by-photo-btn">
                    <i class="fa fa-camera"></i>
                    <span class="search-text"> Search by photo</span>
                </button>
            </div>

            <!-- Dogs Grid -->
            <div class="dogs-grid">
                {% for dog in dogs %}
                <a href="{{ url_for('dog_info.index') }}" class="dog-card">
                    <div class="dog-image" style="background-image: url('{{ dog.image }}');"></div>
                    <div class="dog-details">
                        <div class="dog-gender">{{ gender_icons[dog.gender] | safe }}</div>
                        <div class="dog-name">{{ dog.name }}</div>
                    </div>
                </a>
                {% endfor %}
            </div>



        </div>
    </section>
{% endblock %}
