<footer class="footer">
    <div class="footer-container">
        <p>&copy; 2024 SophieBoca. All rights reserved.</p>
        <div class="social-media">
            <a href="#" class="social-icon" title="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon" title="Twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon" title="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</footer>
